@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 400ms ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Poppins", "Sans-serif";
    background-color: rgb(3, 45, 35);
    color: var(--color-white);
    line-height: 1.7;
}

/* ============== COMMONS BELOW ================== */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 14rem;
}

section>h2,
section>h5 {
    text-align: center;
    color: var(--color-light);
}

section>h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    background: #1e3c51;
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: #0c6bae;
    color: (var(--color-bg));
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

header {
    height: 70vh;
    padding-top: 7rem;
}

.headercontainer {
    text-align: center;
    height: 100vh;
    position: relative;
}

.frame__player {
    height: 440px;
    width: 90%;
}

.coffee__button {
    padding: 2em;
    width: 20em;
    cursor: initial;
}

.coffee__container {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

.coffee__image {
    opacity: 0.8;
}

.coffee__image:hover {
    opacity: 1;
    cursor: pointer;
}

/*=======================CTA========================*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    position: relative;
    z-index: 11;
}

/*=======================SOCIALS========================*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: -2rem;
    bottom: 3rem;
    top: 40%;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*------------DLSAvatar--------------*/

.DLSAvatar {
    height: 80%;
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    overflow: hidden;
    z-index: 10;
}

/*------------SCROLL--------------*/

.scroll__down {
    position: absolute;
    bottom: 54%;
    right: -2rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/*-----------------------NAV--------------------------*/

nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 12;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: #959595;
    color: var(--color-white);
}


/*---------------------ABOUT----------------------*/

.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-image:hover {
    transform: rotate(0);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.about__card:hover {
    cursor: default;
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem;
    color: var(--color-light);
}


/*-------------------------EXPERIENCE----------------------------------*/
.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.essential__experience>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.essential__experience {
    margin-top: 3vh;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    row-gap: 2rem;
}

.essential__experience__content {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.experience__details-icon {
    color: var(--color-primary);
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}

.experience__dev {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.experience__dev:hover {
    cursor: default;
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

/*-----------------------------Services----------------------------------*/

.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    border-radius: 2rem;
}

.service {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid #121112;
    height: auto;
    transition: var(--transition);
}

.service:hover {
    cursor: default;
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

.service__head {
    background: #f5f5f5;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}


.service__head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.service__list {
    padding: 2rem;
}

.service__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon {
    color: var(--color-primary);
    margin-top: 2px;
}

.service__list p {
    font-size: 0.9rem;
}



/*----------------------------Portfolio-------------------------*/

.portfolio__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}

.portfolio__item {
    padding: 1rem;
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 3px solid gray;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    cursor: default;
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
    border-bottom: 1px solid aliceblue;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}



/*-----------------STORY-----------------------*/

.container.story__container {
    width: 40%;
    padding-bottom: 4rem;
}

.avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.story {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.story__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto;
}

/*-------------Contact------------------*/


.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    border-color: var(--color-primary-variant);
    cursor: default;
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.contact__option h5 {
    color: var(--color-light);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
    font-size: 1em;
}

/*-------------------------FOOTER-----------------------------*/
footer {
    background: #959595;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    color: var(--color-white);
    padding: 0.8rem;
    font-size: 2em;
}

.footer__socials a>svg {
    border-radius: 0.2rem;
}

.footer__socials a:hover {
    color: var(--color-bg);
    border-radius: 2em;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
}


/*================MEDIUM DEVICE STYLINGS BELOW================*/
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    .headercontainer {
        text-align: center;
        height: 90%;
        position: relative;
    }

    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }

    .experience__container {
        grid-template-columns: 1fr;
    }

    .essential__experience>div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__dev {
        width: 80%;
        padding: 2rem 1rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }

    .services__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .service {
        height: auto;
    }

    .portfolio__container {
        gap: 1.2rem;
    }

    .portfolio__item-cta>div {
        font-size: x-small;
    }

    .container.story__container {
        width: 60%;
    }

    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .scroll__down {
        bottom: 47%;

    }

    .DLSAvatar {
        width: 50%;
        height: 160%;
    }
}

/*================SMALL DEVICE STYLINGS BELOW================*/
@media screen and (max-width: 600px) {

    .DLSAvatar {
        width: 70%;
        height: 200%;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .container {
        width: var(--container-width-sm)
    }

    section>h2 {
        margin-bottom: 2rem;
    }

    .about__me {
        width: 65%;
        margin: 1 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }

    .experience__container {
        gap: 1rem;
    }

    .experience__container>div {
        width: 100%;
        padding: 2rem 1rem;
    }

    .essential__experience {
        margin-top: 2vh;
    }

    .essential__experience>div {
        margin-top: 2vh;
        width: 100%;
        padding: 2rem 1rem;
    }

    .experience__dev {
        padding: 2.4rem;
    }

    .services__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .portfolio__item-cta>a {
        font-size: x-small;
    }

    .container.story__container {
        width: var(--container-width-sm);
    }

    .story__review {
        width: var(--container-width-sm);
    }

    .container.contact__container {
        width: var(--container-width-sm);
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }

    .frame__player {
        width: 100%;
        height: 234px;
        border-radius: 1.5rem;
    }
}